<template>
  <div v-if="event.id>0">
    <v-row>
      <v-col class="ma-auto" cols="1" md="11" sm="11">
        <h2>{{ pageTitle }}</h2>
        <v-row>
          <v-col cols="8" class="text-right">
            <camera></camera>
          </v-col>
          <v-col cols="4">
            <v-card outlined rounded>
              <v-card-text>
                <v-btn small :color="recordBtnColor" outlined @click="toggleRecord()">{{ recordBtn }}</v-btn>
                <v-btn small color="red" class="stop-btn" outlined @click="stop()">Завершить</v-btn>
                <br/>
                <br/>
                <v-data-table
                    dense
                    :headers="headers"
                    :items="participants"
                    item-key="id"
                    height="380"
                    no-data-text="Пока нет участников"
                    loading-text="Загрузка участников"
                >
                  <template v-slot:item.name="{ item }">
                    <span v-if="item.org"><b>{{ item.name }}</b> (организатор)</span>
                    <span v-else>{{ item.name }}</span>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>

          </v-col>
        </v-row>
        <v-card outlined rounded>
          <v-card-text class="message-text">
            <v-row :key="item.key" v-for="item in messagesList">
              <v-col cols="12">{{ item.time }} <b>{{ item.name }}</b>: {{ item.message }}</v-col>
            </v-row>
            <br/>
            <v-form
                ref="form"
                v-model="valid"
                lazy-validation
            >
              <v-row class="message-block" no-gutters>
                <v-col cols="10">
                  <v-text-field dense
                                outlined hide-details
                                v-model="message"
                                label="Сообщение"
                                required
                  ></v-text-field>
                </v-col>
                <v-col cols="2">
                  <v-btn color="success" :disabled="this.message.length<1" class="mr-4" @click="validate">
                    Отправить
                  </v-btn>
                </v-col>
              </v-row>


            </v-form>

          </v-card-text>
        </v-card>

      </v-col>
    </v-row>
  </div>
</template>

<script>

import VueCamera from '@/components/Camera.vue'

export default {
  components: {
    camera: VueCamera
  },
  name: 'Broadcast',
  data: function () {
    let d = new Date();
    let m = (d.getMonth() + 1).toString();
    let date = d.getFullYear() + '-' + (m.length > 1 ? m : ('0' + m)) + '-' + d.getDate();
    let time = (d.getHours() < 10 ? ('0' + d.getHours()) : d.getHours()) + ':' + (d.getMinutes() < 10 ? ('0' + d.getMinutes()) : d.getMinutes())
        + ':' + (d.getSeconds() < 10 ? ('0' + d.getSeconds()) : d.getSeconds());
    return {
      messages:[
        {
          eventId: 0,
          name: "Система",
          message: "Добро пожаловать",
          time: date + ' ' + time,
          key: date + ' ' + time + ' ' + d.getMilliseconds()
        }
      ],
      record: false,
      recordStart: null,
      video: {},
      canvas: {},
      captures: [],
      valid: true,
      menu: false,
      message: '',
      event: {
        id: 0,
        name: '',
        time: '',
        desc: ''
      },
      headers: [
        {
          text: 'Участники',
          align: 'start',
          sortable: false,
          value: 'name',
        },
      ]
    }
  },
  mounted() {
    this.event = this.$store.state.events.find((e) => {
      return this.$route.params.id == e.id;
    })
    let video = this.$refs.video
    if (video) {
      if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // Not adding `{ audio: true }` since we only want video now
        navigator.mediaDevices.getUserMedia({video: true, audio: true}).then(function (stream) {
          video.srcObject = stream;
          video.play();
        });
      }
    }
  },
  methods: {
    validate() {
      if (this.message.length > 0) {
        let d = new Date();
        let m = (d.getMonth() + 1).toString();
        let date = d.getFullYear() + '-' + (m.length > 1 ? m : ('0' + m)) + '-' + d.getDate();
        let time = (d.getHours() < 10 ? ('0' + d.getHours()) : d.getHours()) + ':' + (d.getMinutes() < 10 ? ('0' + d.getMinutes()) : d.getMinutes())
            + ':' + (d.getSeconds() < 10 ? ('0' + d.getSeconds()) : d.getSeconds());
        let name = this.$store.state.account.firstName + ' ' + this.$store.state.account.lastName;
        this.messages.push(
            {
              eventId: this.event.id,
              name: name,
              message: this.message,
              time: date + ' ' + time,
              key: date + ' ' + time + ' ' + d.getMilliseconds()
            }
        )
        this.message = ''
      }
    },
    stop() {
      this.$store.commit('stopEventBroadcast', {"id": this.event.id})
      this.$router.push('/manage')
    },
    toggleRecord() {
      let d = new Date();
      let m = (d.getMonth() + 1).toString();
      let date = d.getFullYear() + '-' + (m.length > 1 ? m : ('0' + m)) + '-' + d.getDate();
      let time = (d.getHours() < 10 ? ('0' + d.getHours()) : d.getHours()) + ':' + (d.getMinutes() < 10 ? ('0' + d.getMinutes()) : d.getMinutes())
          + ':' + (d.getSeconds() < 10 ? ('0' + d.getSeconds()) : d.getSeconds());
      if (this.record) {
        this.$store.commit('createRecord', {
          name: this.event.name,
          timeStart: this.recordStart,
          timeEnd: date + ' ' + time
        })
        this.record = false;
      } else {
        this.record = true;
        this.recordStart = date + ' ' + time;
      }
    }
  },
  computed: {
    recordBtnColor: function () {
      if (this.record) {
        return 'red'
      }
      return 'indigo'
    },
    recordBtn: function () {
      if (this.record) {
        return 'Остановить запись'
      }
      return 'Начать запись'
    },
    messagesList: function () {
      return this.messages.slice(-10)
    },
    pageTitle: function () {
      return 'Конференция "' + this.event.name + '"'
    },
    participants: function () {
      let users = this.$store.state.accounts
      let curUser = this.$store.state.account
      users = Object.entries(users).map((user) => {
        let status = ''
        switch (this.$store.getters.accountEventRegStatus(user[1].email, this.event.id)) {
          case 'requested':
            status = 'Ждет решения';
            break;
          case 'approved':
            status = 'Одобрено';
            break;
          case 'declined':
            status = 'Отказано';
            break;
        }
        return {
          email: user[1].email,
          name: user[1].firstName + ' ' + user[1].lastName,
          status: status
        }
      }).filter((user) => {
        return user.status === 'Одобрено' && user.email !== curUser.email
      })

      users.unshift({
        email: curUser.email,
        name: curUser.firstName + ' ' + curUser.lastName,
        org: true
      })

      return users
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.message-text {
  font-size: 10px;
}

.message-text.v-card__text {
  line-height: 0.375rem !important;
}

#video {
  background-color: #000000;
}

#canvas {
  display: none;
}

.stop-btn {
  margin-left: 10px;
}

.message-block .v-input__control {
  height: auto;
}

.message-block button {
  margin-left: 10px;
}

</style>
