<template>
  <v-row>
    <v-col cols="10" offset="1">
      <h2>
        {{ event.name }}
      </h2>
      <br/>
      <div>
        <v-btn :color="btnColor" outlined :disabled="btnDisabled" @click="btnToggle">{{ btnName }}</v-btn>
        <div class="date-block">Дата проведения: <b>{{ event.time }}</b></div>
        <div class="date-block">Организатор: <b>{{ organizerName }}</b></div>
      </div>
      <br/>
      <div>{{ event.desc }}</div>
    </v-col>
  </v-row>
</template>

<script>


export default {
  name: 'Event',
  watch: {
    $route(to, from) {
      console.log(from, to)
    }
  },
  data: function () {
    return {
      event: {
        name: "",
        id: "",
        desc: "",
        time: ""
      }
    }
  },
  methods: {
    btnToggle: function () {
      this.$store.commit('eventRegisterToggle', this.event.id)
      console.log(this.$store.state.registeredEvents[this.$store.state.account.email])
    }
  },
  computed: {
    btnDisabled: function () {
      return this.$store.state.account.email === '';
    },
    btnName: function () {
      return this.$store.getters.registered(this.event.id) ? 'Не участвовать' : 'Участвовать';
    },
    btnColor: function () {
      return this.$store.getters.registered(this.event.id) ? 'red' : 'green';
    },
    organizerName: function () {
      return this.$store.getters.findEventOrganizer(this.event.id);
    }
  },
  mounted() {
    let event = this.$store.getters.findEvent(this.$route.params.id)
    if (event) {
      this.event = event
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.date-block {
  margin-left: 20px;
  display: inline-block;
}

</style>
