<template>
  <div class="hello">
    <v-row>
      <v-col class="ma-auto" cols="11" md="11" sm="11">
        <h2>Вход в аккаунт</h2>
        <br/>
        <v-row>
          <v-col cols="4" lg="4" md="10" sm="12">
            <v-form
                ref="form"
                v-model="valid"
                lazy-validation
            >
              <v-text-field
                  v-model="email"
                  autocomplete="new-password"
                  :rules="emailRules"
                  label="Email"
                  required
              ></v-text-field>

              <v-text-field
                  v-model="password"
                  :rules="passwordRules"
                  autocomplete="new-password"
                  type="password"
                  label="Пароль"
                  required
              ></v-text-field>

              <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
                Отправить
              </v-btn>
              <router-link class="password-reset" to="/password-reset">Восстановить пароль</router-link>

            </v-form>
          </v-col>
          <v-col cols="6">
            <v-card flat>
              <v-card-text>
                Для входа в аккаунт укажите ваши email и пароль.
              </v-card-text>
            </v-card>

          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>


export default {
  name: 'Login',
  data: () => ({
    valid: true,
    email: 'test@email.com',
    emailRules: [
      v => !!v || 'E-mail обязателен',
      v => /.+@.+\..+/.test(v) || 'Email должен соовествовать формату user@domain...',
    ],
    password: '123123123',
    passwordRules: [
      v => !!v || 'Пароль обязателен',
      v => /.{6,}/.test(v) || 'Пароль должен содержать не менее 6 знаков',
    ],
  }),
  props: {
    msg: String,
  },
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        var account = this.$store.getters.findAccount(
            this.email,
            this.password
        )
        if (account) {
          this.$store.commit('setAccount',
              {
                firstName: account.firstName,
                lastName: account.lastName,
                email: account.email,
                password: account.password,
              }
          )
          this.$router.push('/manage');
        }
      }
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.password-reset{
  display:inline-block;
  margin-right:10px;
  color:black;
  font-size: 12px;
}

</style>
