<template>
  <div class="hello">
    <v-row no-gutters>
      <v-col cols="10" offset="1">
        <v-row>
          <v-col cols="6" class="text-right">
            <div class="text-right">
              <div class="events-title"><h2>Ближайшие мероприятия</h2></div>
            </div>
            <v-card tile flat>
              <v-card-text>
                <v-timeline dense align-top reverse>
                  <v-timeline-item class="text-right" v-for="event in events" :key="event.time" color="green" small>
                    <div>
                      <div>
                        <router-link class="event-link" :to="'/events/'+event.id">{{ event.name }}</router-link>
                      </div>
                      <div class="font-weight-normal">
                        {{ event.time }}
                      </div>
                    </div>
                  </v-timeline-item>
                </v-timeline>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="6">
            <h2 class="welcome-header">Добро пожаловать!</h2><br/>
            <v-card flat>
              <v-card-text class="main-info-2">
                Здесь вы легко сможете провести конференцию или поучаствовать в уже созданных конференциях.<br/>
                Надеемся вы отлично проведете время и будете польностью удовлетворены функционалом сайта!<br/>
                Следуйте инструкциям на инфографике и использование сайта не вызовет у вас проблем.<br/>
                С уважением команда сайта.
              </v-card-text>
            </v-card>
            <br/><br/>
            <v-img width="600px" src="@/assets/info1.png"/>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>

export default {
  name: 'Main',
  props: {
    msg: String,
  },
  computed: {
    events () {
      return this.$store.state.events
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.events-title {
  margin-right: 100px
}

.event-link{
  color:black;
  text-decoration: none;
}
.event-link:hover{
  color: #3f51b5;
  text-decoration: underline;
}
.welcome-header{
  margin-left:16px;
}

</style>
