<template>
  <v-row>
    <v-col class="ma-auto" cols="10" md="11" sm="11" >
      <h2>Мои конференции
        <v-btn class="record-btn" small outlined color="green" to="/manage/event/create">Создать конференцию</v-btn>
        <v-btn outlined color="indigo" class="record-btn" small to="/records">Перейти к записям</v-btn>
        <br/></h2>
      <br/>

      <v-data-table
          sort-by="id"
          sort-desc
          :headers="headers"
          :items="events"
          item-key="id"
          no-data-text="Пока нет конференций"
          loading-text="Загрузка конференций"
      >
        <template v-slot:item.name="{ item }">
          <router-link class="elink" :to="'event/'+item.id">{{ item.name }}</router-link>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-menu v-if="item.owned" offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                  color="indigo"
                  outlined
                  small
                  v-bind="attrs"
                  v-on="on"
              >
                Действия
              </v-btn>
            </template>
            <v-list>
              <v-list-item>
                <v-list-item-title>
                  <router-link class="menu-action" :to="'/manage/event/edit/'+item.id">Редактировать</router-link>
                </v-list-item-title>
              </v-list-item>
              <v-list-item @click="start(item.id)">
                <v-list-item-title>Старт</v-list-item-title>
              </v-list-item>
              <v-list-item>
                <v-list-item-title class="remove-event-btn" @click="del(item.id)">Удалить</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
          <div v-else-if="item.status!==undefined" class="status-label">
            <span v-if="item.broadcast"><v-btn :to="'/participate/'+item.id" color="success" outlined small>Смотреть</v-btn></span>
            <span v-else>{{ item.status }}</span>
          </div>
        </template>
      </v-data-table>


    </v-col>
  </v-row>
</template>

<script>


export default {
  name: 'Manage',
  data: function () {
    let date = new Date();
    let m = (date.getMonth() + 1).toString();
    date = date.getFullYear() + '-' + (m.length > 1 ? m : ('0' + m)) + '-' + date.getDate();

    return {
      headers: [
        {
          text: '#',
          align: 'start',
          sortable: false,
          value: 'id',
        },
        {
          text: 'Название',
          sortable: false,
          value: 'name',
        },
        {
          text: 'Дата проведения',
          sortable: false,
          value: 'time',
        },
        {text: '', value: 'actions', sortable: false},
      ],
      date: date,
      menu: false
    }
  },
  methods: {
    status: function (id) {
      return this.$store.getters.registered(id);
    },
    del: function (id) {
      this.$store.commit('deleteEvent', id)
    },
    start: function (id) {
      this.$store.commit('startEvent',id);
      this.$router.push('/broadcast/'+id)
    }
  },
  computed: {
    events: function () {
      if (this.$store.state.account.email == '') {
        return [];
      }

      let currentDate = new Date(this.date + " 00:00:00");
      let eventIds = this.$store.state.registeredEvents[this.$store.state.account.email]
      if (eventIds === undefined) {
        eventIds = [];
      }
      let ownerIds = this.$store.state.ownEvents[this.$store.state.account.email]
      if (ownerIds === undefined) {
        ownerIds = [];
      }

      eventIds = eventIds.filter((event) => {
        if (new Date(Date.parse(event.time)).getTime() < currentDate) {
          return false;
        }
        return true;
      });
      let events = this.$store.state.events.filter((event) => {
        let ex = false;
        eventIds.forEach((ev) => {
          if (event.id == ev.id) {
            ex = true;
          }
        })
        return ex ? ex : ownerIds.indexOf(event.id) > 0;
      });

      events.map((event) => {
        event.owned = ownerIds.indexOf(event.id) > 0;
        switch (this.$store.getters.registrationStatus(event.id)) {
          case 'requested':
            event.status = 'Запрос отправлен';
            break;
          case 'approved':
            event.status = 'Одобрено';
            break;
          case 'declined':
            event.status = 'Отказано';
            break;
        }
      })

      return events
    },
    eventsLeft: function () {
      let events = [];
      let currentDate = new Date(this.date + " 00:00:00");
      events = this.$store.getters.findUserRegistrations();
      if (events === undefined) {
        return [];
      }

      return events.filter((event) => {
        return new Date(Date.parse(event.time)).getTime() < currentDate;
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.v-card > div.event-el:hover, .status-label, .elink:hover {
  color: #3f51b5 !important;
}

.elink {
  color: black;
  text-decoration: none;
}

.time-block {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
  display: inline-block;
}

.record-btn {
  margin-left: 10px;
}

.menu-action {
  text-decoration: none;
  color: black;
}

.remove-event-btn {
  cursor: pointer;
}
</style>
