<template>
  <v-row>
    <v-col class="ma-auto" cols="1" md="11" sm="11">
      <h2>{{ pageTitle }}</h2>
      <v-row>
        <v-col cols="6" class="text-right">
          <v-form
              ref="form"
              v-model="valid"
              lazy-validation
          >
            <v-text-field
                v-model="event.name"
                :rules="nameRules"
                label="Название"
                required
            ></v-text-field>
            <v-row>
              <v-col cols="6">
                <v-menu
                    ref="menu"
                    v-model="menu"
                    :close-on-content-click="false"
                    :return-value.sync="date"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                        v-model="date"
                        chips
                        small-chips
                        prepend-icon="mdi-calendar"
                        readonly
                        label="Дата"
                        v-bind="attrs"
                        v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                      v-model="date"
                      :min="nowDate"
                      no-title
                      scrollable
                      @change="$refs.menu.save(date)"
                      @click="$refs.menu.save(date)"
                  >
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="6">
                <v-text-field
                    v-model="time"
                    :rules="timeRules"
                    label="Время"
                    required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-textarea
                auto-grow
                v-model="event.desc"
                :rules="descRules"
                label="Описание"
            ></v-textarea>

            <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
              Сохранить
            </v-btn>

          </v-form>
        </v-col>
        <v-col cols="6">
          <v-card outlined flat>
            <v-card-text>
              <v-data-table
                  v-if="event.id>0"
                  dense
                  :headers="headers"
                  :items="participants"
                  item-key="id"
                  height="400"
                  no-data-text="Пока нет участников"
                  loading-text="Загрузка участников"
              >
                <template v-slot:item.name="{ item }">
                  {{ item.name }}
                </template>
                <template v-slot:item.actions="{ item }">
                  <v-menu offset-y>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                          color="indigo"
                          outlined
                          small
                          v-bind="attrs"
                          v-on="on"
                      >
                        {{ item.status }}
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item v-if="item.status!=='Одобрено'" @click="approve(item.email)">
                        <v-list-item-title>Одобрить</v-list-item-title>
                      </v-list-item>
                      <v-list-item v-if="item.status!=='Отказано'" @click="decline(item.email)">
                        <v-list-item-title>Отклонить</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>


export default {
  name: 'ManageEvent',
  data: function () {
    let d = new Date();
    let m = (d.getMonth() + 1).toString();
    let date = d.getFullYear() + '-' + (m.length > 1 ? m : ('0' + m)) + '-' + d.getDate();
    let time = (d.getHours() < 10 ? ('0' + d.getHours()) : d.getHours()) + ':' + (d.getMinutes() < 10 ? ('0' + d.getMinutes()) : d.getMinutes());
    return {
      valid: true,
      menu: false,
      date: date,
      nowDate: date,
      time: time,
      event: {
        id: 0,
        name: '',
        time: '',
        desc: ''
      },
      nameRules: [
        v => !!v || 'Название обязательно',
      ],
      dateRules: [
        v => !!v || 'Дата обязательна',
        v => (v && v.match(/^\d{4}-\d{2}-\d{2}$/) !== null) || 'Формат даты 2020-01-01',
        v => (v && this.validateDate(v)) || 'Формат даты 2020-01-01',
      ],
      timeRules: [
        v => !!v || 'Время обязательно',
        v => (v && v.match(/^[0-2][0-9]:[0-5][0-9]$/) !== null) || 'Формат даты 23:59',
        v => (v && this.validateHour(v)) || 'Формат даты 23:59',
      ],
      descRules: [
        v => (!!v || (v.length < 1 || v.length < 10000)) || 'Описание должно иметь не более 10000 знаков',
      ],
      headers: [
        {
          text: 'Имя',
          align: 'start',
          sortable: false,
          value: 'name',
        },
        {text: '', value: 'actions', sortable: false},
      ]
    }
  },
  mounted() {
    if (this.$route.params.id) {
      this.event = this.$store.state.events.find((e) => {
        return this.$route.params.id == e.id;
      })
    }
  },
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        let event = this.event;
        event.time = this.date + ' ' + this.time;

        let newEvent = this.event.id < 1;
        if (newEvent) {
          event.id = this.$store.state.lastEventId;
        }
        this.$store.commit('updateEvent',
            {event: event, 'action': newEvent ? 'create' : 'update'}
        )

        this.$router.push('/manage')
      }
    },
    validateHour(v) {
      let m = /^(\d+):/.exec(v)
      if (m && m.index !== -1) {
        return parseInt(m[1]) < 24;
      }
      return false;
    },
    validateDate(v) {
      let d = new Date(v);
      let m = (d.getMonth() + 1).toString();
      let date = d.getFullYear() + '-' + (m.length > 1 ? m : ('0' + m)) + '-' + d.getDate();
      return date === v;
    },
    approve(email) {
      this.$store.commit('updateRegStatus',
          {eventId: this.event.id, email: email, status: 'approved'}
      )
    },
    decline(email) {
      this.$store.commit('updateRegStatus',
          {eventId: this.event.id, email: email, status: 'declined'}
      )
    }
  },
  computed: {
    pageTitle: function () {
      if (this.event.id > 0) {
        return 'Редактирование конференции'
      }
      return 'Создание конференции'
    },
    participants: function () {
      if (this.event.id < 1) {
        return []
      }
      let users = this.$store.state.accounts
      return Object.entries(users).map((user) => {
        let status = ''
        switch (this.$store.getters.accountEventRegStatus(user[1].email, this.event.id)) {
          case 'requested':
            status = 'Ждет решения';
            break;
          case 'approved':
            status = 'Одобрено';
            break;
          case 'declined':
            status = 'Отказано';
            break;
        }
        return {
          email: user[1].email,
          name: user[1].firstName + ' ' + user[1].lastName,
          status: status
        }
      }).filter((user) => {
        return user.status !== ''
      })
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
