<template>
  <div class="hello">
    <v-row>
      <v-col  class="ma-auto"  cols="11" md="11" sm="11">
        <h2>Восстановление пароля</h2>
        <v-row>
          <v-col cols="4" lg="4" md="10" sm="12">
            <div v-if="sent" class="send-text">
              <br/>
              Ссылка для изменения пароля отправлена на ваш email.
            </div>
            <v-form
                v-else
                ref="form"
                v-model="valid"
                lazy-validation
            >
              <v-text-field
                  v-model="email"
                  autocomplete="new-password"
                  :rules="emailRules"
                  label="Email"
                  required
              ></v-text-field>

              <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
                Отправить
              </v-btn>

            </v-form>
          </v-col>
          <v-col cols="6">
            <v-card flat>
              <v-card-text>
                Укажите ваш email и если вы зарегистрированы в системе мы вышлем вам ссылку для изменения пароля.
              </v-card-text>
            </v-card>

          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>


export default {
  name: 'PasswordReset',
  data: () => ({
    valid: true,
    email: '',
    emailRules: [
      v => !!v || 'E-mail обязателен',
      v => /.+@.+\..+/.test(v) || 'Email должен соовествовать формату user@domain...',
    ],
    sent: false
  }),
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.sent = true
      }
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.send-text{
  text-align: left;
}

</style>
