<template>
  <div class="hello">
    <v-row>
      <v-col class="ma-auto" cols="11" md="11" sm="11">
        <h2>Управление аккаунтом</h2>
        <v-row>
          <v-col cols="6">
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                  v-model="firstName"
                  :counter="100"
                  :rules="firstNameRules"
                  label="Имя"
                  required
              ></v-text-field>
              <v-text-field
                  v-model="lastName"
                  :counter="100"
                  :rules="lastNameRules"
                  label="Фамилия"
                  required
              ></v-text-field>

              <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  label="Email"
                  required
              ></v-text-field>

              <v-text-field
                  v-model="password"
                  :rules="passwordRules"
                  type="password"
                  label="Пароль"
                  required
              ></v-text-field>

              <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
                Сохранить
              </v-btn>

            </v-form>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>


export default {
  name: 'Profile',
  data: () => ({
    valid: true,
    firstName: '',
    firstNameRules: [
      v => !!v || 'Имя обязательно',
      v => (v && v.indexOf(' ') < 1) || 'Имя не должно содержать пробелов',
    ],
    lastName: '',
    lastNameRules: [
      v => !!v || 'Имя обязательно',
      v => (v && v.indexOf(' ') < 1) || 'Имя не должно содержать пробелов',
    ],
    email: '',
    emailRules: [
      v => !!v || 'E-mail обязателен',
      v => /.+@.+\..+/.test(v) || 'Email должен соовествовать формату user@domain...',
    ],
    password: '',
    passwordRules: [
      v => !!v || 'Пароль обязателен',
      v => /.{6,}/.test(v) || 'Пароль должен содержать не менее 6 знаков',
    ],
  }),
  props: {
    msg: String,
  },
  mounted() {
    this.firstName = this.$store.state.account.firstName;
    this.lastName = this.$store.state.account.lastName;
    this.email = this.$store.state.account.email;
    this.password = this.$store.state.account.password;
  },
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.$store.commit('setAccount',
            {
              firstName: this.firstName,
              lastName: this.lastName,
              email: this.email,
              password: this.password,
            }
        )
      }
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
