<template>
  <v-row>
    <v-col class="ma-auto" cols="10" md="11" sm="11">
      <h2>Записи конференций
        <v-btn small outlined  class="record-btn" color="green" to="/manage">Перейти к конференциям</v-btn>
      </h2>
      <br/>

      <v-data-table
          :headers="headers"
          :items="records"
          item-key="id"
          no-data-text="Пока нет записей"
          loading-text="Загрузка записей"
      >
        <template v-slot:item.name="{ item }">
          {{ item.name }}
        </template>
        <template v-slot:item.actions="{ item }">
          <v-btn :to="'/records/'+item.id" small outlined color="indigo">Смотреть</v-btn>
        </template>
      </v-data-table>

    </v-col>
  </v-row>
</template>

<script>


export default {
  name: 'Records',
  data: function () {
    let date = new Date();
    let m = (date.getMonth() + 1).toString();
    date = date.getFullYear() + '-' + (m.length > 1 ? m : ('0' + m)) + '-' + date.getDate();

    return {
      headers: [
        {
          text: 'Название',
          align: 'start',
          sortable: false,
          value: 'name',
        },
        {
          text: 'Дата начала',
          sortable: false,
          value: 'timeStart',
        },
        {
          text: 'Дата завершения',
          sortable: false,
          value: 'timeEnd',
        },
        {text: '', value: 'actions', sortable: false},
      ],
      date: date,
      menu: false
    }
  },
  methods: {
    status: function (id) {
      return this.$store.getters.registered(id);
    }
  },
  computed: {
    records: function () {
      if (!(this.$store.state.account.email in this.$store.state.records)) {
        return [];
      }
      return this.$store.state.records[this.$store.state.account.email];
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.v-card > div.event-el:hover, .status-label, .elink:hover {
  color: #3f51b5 !important;
}

.record-btn {
  margin-left: 10px;
}

</style>
