<template>
  <v-row>
    <v-col class="ma-auto" cols="10" md="11" sm="11">
      <h2>Запись конференции "{{ record.name }}"
      </h2>
      <br/>
      <v-btn small outlined color="green" to="/records">Вернутся к списку</v-btn><br/>
      <br/>
      Время записи: <b>{{record.timeStart}}</b> - <b>{{record.timeEnd}}</b>
      <br/>
      <br/>
      <v-row>
        <v-col cols="6">
          <v-card outlined rounded>
            <v-card-text>
              <video width="100%" controls/>
            </v-card-text>
          </v-card>

        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>


export default {
  name: 'Record',
  data: function () {
    return {
      record: {
        id: 0,
        "name": "",
        "timeStart": "",
        "timeEnd": ""
      }
    }
  },
  mounted() {
    this.record = this.$store.state.records[this.$store.state.account.email].find((rec) => {
      if (rec.id == this.$route.params.id) {
        return rec;
      }
      return null;
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
