<template>
    <v-row>
      <v-col class="ma-auto" cols="11" md="11" sm="11">
        <h2>Поиск конференций</h2>
        <v-form>
          <v-row>
            <v-col cols="9">
              <v-text-field v-model="query" label="Введите название или идентификатор"></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="date"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                      v-model="date"
                      chips
                      small-chips
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                    v-model="date"
                    :min="nowDate"
                    no-title
                    scrollable
                    @change="$refs.menu.save(date)"
                    @click="$refs.menu.save(date)"
                >
                </v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-form>
        <div>
          <v-card outlined flat :to="'event/'+event.id" hover v-for="event in events" :key="event.date">
            <v-card-text class="event-el">
              <b class="time-block">{{ event.time }}</b>
              {{ event.name }}
            </v-card-text>
          </v-card>
        </div>

      </v-col>
    </v-row>
</template>

<script>


export default {
  name: 'Events',
  data: function () {
    let date = new Date();
    let m = (date.getMonth() + 1).toString();
    date = date.getFullYear() + '-' + (m.length > 1 ? m : ('0' + m)) + '-' + date.getDate();

    return {
      date: date,
      nowDate: date,
      query: "",
      menu: false
    }
  },
  methods: {
    search: () => {

    }
  },
  computed: {
    events: function () {
      let events = [];
      let currentDate = new Date(this.date + " 00:00:00");
      let query = this.query;
      events = this.$store.state.events;
      return events.filter((event) => {
        if (query && !event.name.includes(query) && query !== event.id) {
          return false;
        }
        if (new Date(Date.parse(event.time)).getTime() < currentDate) {
          return false;
        }

        return true;
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.v-card > div.event-el:hover {
  color: #3f51b5 !important;
}

.time-block {
  margin-right: 15px;
}

</style>
