<template>
  <div class="hello">
    <v-row>
      <v-col class="ma-auto" cols="11" md="11" sm="11">
        <h2>Регистрация</h2>
        <v-row>
          <v-col cols="4" lg="4" md="10" sm="12" >
            <v-form
                ref="form"
                v-model="valid"
                lazy-validation
            >
              <v-text-field
                  v-model="firstName"
                  :counter="100"
                  :rules="firstNameRules"
                  label="Имя"
                  required
              ></v-text-field>
              <v-text-field
                  v-model="lastName"
                  :counter="100"
                  :rules="lastNameRules"
                  label="Фамилия"
                  required
              ></v-text-field>

              <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  label="Email"
                  required
              ></v-text-field>

              <v-text-field
                  v-model="password"
                  :rules="passwordRules"
                  type="password"
                  label="Пароль"
                  required
              ></v-text-field>

              <v-btn :disabled="!valid" color="success" @click="validate">
                Отправить
              </v-btn>

            </v-form>
          </v-col>
          <v-col cols="6">
            <v-card flat>
              <v-card-text>
                Для регистрации, укажите свои контактные данные.<br/>
                Все поля обязательны.<br/>
                Пароль должен содержать как миниум 6 символов.
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>

import store from "@/store/store";

export default {
  name: 'Signup',
  data: () => ({
    valid: true,
    firstName: '',
    firstNameRules: [
      v => !!v || 'Имя обязательно',
      v => (v && v.indexOf(' ') < 1) || 'Имя не должно содержать пробелов',
    ],
    lastName: '',
    lastNameRules: [
      v => !!v || 'Имя обязательно',
      v => (v && v.indexOf(' ') < 1) || 'Имя не должно содержать пробелов',
    ],
    email: '',
    emailRules: [
      v => !!v || 'E-mail обязателен',
      v => /.+@.+\..+/.test(v) || 'Email должен соовествовать формату user@domain...',
      v => /.+@.+\..+/.test(v) && function () {
        return store.getters.findEmail(v) == null;
      }() || 'Email уже зарегистрирован в системе',
    ],
    password: '',
    passwordRules: [
      v => !!v || 'Пароль обязателен',
      v => /.{6,}/.test(v) || 'Пароль должен содержать не менее 6 знаков',
    ],
  }),
  props: {
    msg: String,
  },
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.$store.commit('setAccount',
            {
              firstName: this.firstName,
              lastName: this.lastName,
              email: this.email,
              password: this.password,
            }
        )
        this.$router.push('/')
      }
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
