<template>
  <v-app id="inspire">
    <v-container>
      <v-app-bar  app    >

        <v-row no-gutters>
          <v-col class="d-flex flex-row-reverse"
          >
          <span
              :key="link.title" v-for="link in links">
                 <v-btn

                     v-if="link.onclick"
                     @click.stop="click(link.onclick)"
                     class="ma-2"
                      outlined
                     shaped
                     light
                     :color="link.color"
                 >
                  {{ link.title }}
                </v-btn>
                <v-btn v-else
                       class="ma-2"
                       outlined
                       :to="link.href"
                       :color="link.color"
                >
                        {{ link.title }}
                </v-btn>
          </span>
            <v-spacer></v-spacer>
            <h2 class="d-none d-lg-block d-md-block app-header"><router-link to="/"> Конференции онлайн </router-link></h2>
          </v-col>

        </v-row>
      </v-app-bar>
    </v-container>

    <v-main class="main-color lighten-3">
      <v-container class="cont rounded">
        <v-row>
          <v-col
              cols="8"
              sm="12"
              offset="2"
              offset-sm="0"
          >
            <v-sheet min-height="800" rounded>
              <router-view></router-view>
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>


export default {
  name: 'App',
  data: () => ({}),
  computed: {
    links: function () {
      return this.$store.getters.links;
    }
  },
  methods: {
    click: function (e) {
      e(this.$store, this.$router);
    }
  }
};
</script>

<style scoped>
.main-color {
  background: rgb(162, 166, 189);
}

.app-header {
  margin-top: 10px;
}
.app-header a{
  color:#717486;
  text-decoration: none;
}
.cont {
  padding-top: 10px;
  padding-bottom: 10px;
  background: WHITE;
}
.v-toolbar__content .v-btn {
  border:0px;
}

</style>
<style>
 h1,h2 {
   color:#717486;
 }
</style>